@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #444444;
}

h1,
h2 {
  text-align: center;
  color: #058e6e;
  padding: 25px;
}
p {
  font-family: "Roboto", sans-serif;
  color: #444444;
}

a {
  color: #058e6e;
}
/* ---------------------------------------- Navigation -------------------------------------*/

.bg-light {
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #058e6e;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f1bf00;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #058e6e;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-bottom: 3px solid #f1bf00;
}

/* ---------------------------------------- Hero Image -------------------------------------*/

#hero-image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background: url(../images/hero_image.jpg) no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.025);
  }
}

#hero-text {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: rgba(241, 191, 0, 0.75);
  position: absolute;
  top: 360px;
  left: 75px;
  width: auto;
  height: auto;
}

#hero-text h1,
h3,
p {
  padding: 15px 25px;
  color: #fff;
}

/* ---------------------------------------- Event Section on Home Page -------------------------------------*/

.events-home {
  display: flex;
}

.event-section {
  display: flex;
  margin: 0;
  padding-bottom: 20px;
  justify-content: center;
}

.event-teaser {
  height: 300px;
  width: 300px;
  background-color: #f1bf00;
  border-radius: 50%;
  justify-content: center;
  margin: 20px 30px;
  display: flex;
  padding-top: 15px;
}

.event-teaser i {
  color: #fff;
  font-size: 100px;
  display: flex;
  justify-content: center;
}

.event-teaser h4 {
  position: absolute;
  top: 50%;
  text-align: center;
  color: #fff;
}

.event-teaser button {
  position: absolute;
  top: 75%;
  text-align: center;
  color: #aa151b;
  background-color: #fff;
}

.event-teaser .btn:hover {
  color: #058e6e;
  text-decoration: none;
}

/* ---------------------------------------- About -------------------------------------*/

#about-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background: url(../images/about_page_image.jpg) no-repeat center center;
}

.about p {
  font-family: "Roboto", sans-serif;
  color: #444444;
  margin-bottom: 0;
}

.about h3 {
    color: #058e6e;
    text-align: center;
}

.list li {
    list-style: none;
}

.list li::before {
  content: "◦"; 
  color: #058e6e;
  display: inline-block; 
  width: 1em;
  margin-left: -1em}

/* ---------------------------------------- Events Page -------------------------------------*/

.events {
  width: 100%;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  background: url(../images/events_page.jpg) no-repeat center center;
  display: flex;
}

.event-cards {
  height: 500px;
  /* min-width: 400px; */
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  margin: 20px 30px;
  display: flex;
  padding-top: 15px;
  justify-content: center;
}

.event-cards i {
  color: #f1bf00;
  font-size: 100px;
  display: flex;
  justify-content: center;
}

.event-cards h4 {
  position: absolute;
  top: 25%;
  text-align: center;
  color: #058e6e;
  padding: 25px 0 15px;
}

.event-cards p {
  position: absolute;
  top: 47%;
  text-align: center;
  color: #444444;
  padding: 0 15px;
}

.event-cards .btn:hover {
  color: #058e6e;
  text-decoration: none;
}

/* ---------------------------------------- Contact Page -------------------------------------*/

.contact {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background: url(../images/events_page.jpg) no-repeat center center;
  display: flex;
}

#form-section {
  padding: 30 0;
  height: 600px;
  display: flex;
}

#form-container {
  color: #fff;
  background-color: rgba(241, 191, 0, 0.7);
  width: 50%;
  margin: auto;
  padding: 30px;
  justify-content: center;
  display: flex;
}

.form-heading {
  color: #fff;
  justify-content: center;
}

.form-heading .fa {
  padding: none !important;
}

.form-heading i {
  color: #fff;
  font-size: 40px;
}

.text-input {
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  display: block;
  width: 100%;
}

.contact .btn {
  background-color: #fff;
  color: #058e6e;
  margin-top: 10px;
  justify-content: center;
}

.skype {
  padding-top: 10px;
}

/* ---------------------------------------- Contact Page Modal -------------------------------------*/

/* .modal-title {
  color: #058e6e;
}

.modal-body p {
  color: #444444;
}

.modal-btn {
  background-color: #058e6e;
  color: #fff;
} */
/* ---------------------------------------- Footer -------------------------------------*/

footer {
  background-color: #aa151b;
  height: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: #ccc;
}

.fa-facebook {
  color: #ccc;
}

.fa-youtube {
  color: #ccc;
}

.fa-instagram {
  color: #ccc;
}

/* ---------------------------------------- Media Queries -------------------------------------*/

@media only screen and (max-width: 768px) {
  .navbar-light .navbar-nav .active > .nav-link {
    color: #f1bf00;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-bottom: none;
  }

  #hero-image {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background: url(../images/hero_image_768.jpg) no-repeat center center;
  }

  #hero-text {
    position: absolute;
    top: 360px;
    left: 0;
  }

  #form-container {
    width: 90%;
    margin: auto;
  }

  .event-cards {
    height: 400px;
  }

  .event-cards i {
    font-size: 75px;
  }

  .event-cards p {
    font-size: 15px;
  }

  .event-card h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  #about-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background: url(../images/about_page_small.jpg) no-repeat center center;
  }

   .event-cards {
    min-width: 400px;
  }

}

@media only screen and (max-width: 420px) {
  #about-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background: url(../images/about_page_mobile.jpg) no-repeat center center;
  }

  .event-cards {
    min-width: 250px;
  }

    .event-cards i {
    font-size: 50px;
  }

  .event-cards p {
    font-size: 12px;
  }

  .event-cards h4 {
    font-size: 15px;
  }

}

@media only screen and (max-width: 280px) {
  .event-teaser {
    height: 200px;
    width: 200px;
  }

  .event-teaser i {
    font-size: 50px;
  }

  .event-teaser h4 {
    font-size: 15px;
  }

  .event-teaser button {
    font-size: 60%;
  }

  .event-cards {
    min-width: 225px;
  }
  .event-cards i {
    font-size: 50px;
  }

  .event-cards p {
    font-size: 10px;
  }

  .event-cards h4 {
    font-size: 15px;
  }
}
